<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <h1 class="title">News</h1>
    <hr>
</header>

<main class="content">
    <div class="news-list">
        <ul>
            <li class="news-list__item" v-for="news in newsList" v-bind:class="{_finish: !news.id}">
                <h3>{{ news.title }}</h3>
                <p>{{ news.body }}</p>
            </li>
        </ul>
    </div>
    <div class="spinner" v-if="loading">
        <div class="loadingio-spinner-spinner-iacyt9uv2o8">
            <div class="ldio-epes159dzuj">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</main>

<script>

    function capitalizeFirst(arr){
        if (!Array.isArray(arr)) return arr;
        arr.forEach((news) => {
            news.title = news.title[0].toUpperCase() + news.title.slice(1);
            news.body = news.body[0].toUpperCase() + news.body.slice(1);
        });
        return arr;
    }

    function parseLinkHeader(linkHeader){
        const linkHeadersArray = linkHeader.split(", ").map(header => header.split("; "));
        const linkHeadersMap = linkHeadersArray.map(header => {
            const thisHeaderRel = header[1].replace(/"/g, "").replace("rel=", "");
            const thisHeaderUrl = 'https' + header[0].slice(5, -1);
            return [ thisHeaderRel, thisHeaderUrl ]
        });
        return Object.fromEntries(linkHeadersMap);
    }

    new Vue({
        el: '.content',
        data: {
            newsList: [],
            loading: true,
            currentUrl: 'https://jsonplaceholder.typicode.com/posts?_page=1'
        },
        mounted: function(){
            this.loadNews(this.currentUrl);
            this.scroll();
        },
        methods: {
            loadNews: function(currentUrl){
                if (!this.currentUrl) {
                    this.newsList.push({
                        title: 'All the news is over',
                        body: 'And it\'s unlikely they\'ll show up here.'
                    });
                    window.removeEventListener('scroll', this.loadMore);
                    return;
                }
                this.loading = true;
                fetch(currentUrl)
                    .then((response) => {
                        const links = parseLinkHeader(response.headers.get("Link"));
                        if (links.hasOwnProperty('next')) {
                            this.currentUrl = links.next;
                        } else {
                            this.currentUrl = false;
                        }
                        return response.json()
                    })
                    .then((json) => {
                        this.newsList.push(...capitalizeFirst(json));
                        this.loading = false;
                    });
            },
            loadMore: function(){
                let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
                if (bottomOfWindow) this.loadNews(this.currentUrl);
            },
            scroll: function(){
                window.addEventListener('scroll', this.loadMore);
            },
        }
    });

</script>

</body>
</html>
